// .backdrop {
//     width: 100vw;
//     background: rgba(0, 0, 0, 0.75);
//     height: 100vh;
// }
@import '../../scss/variables';

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  display: flex;

  .inner-wrapper {
    align-self: center;
    width: 300px;
    min-height: 0;
    box-shadow: 0 0 5px #fff;
    height: auto;
    background: rgb(245, 239, 239);
    border-radius: 20px;
    border: 1px solid #ddd;

    .challenged {
      color: #000;
      padding: 20px;
      text-align: center;

      h2 {
        text-transform: uppercase;
        font-weight: bold;
      }

      .intro {
        font-size: 12px;
        font-style: italic;
      }

      .points {
        display: flex;
        justify-content: space-around;

        p {
          padding: 5px;
          color: #000;
          border-radius: 3px;
          font-size: 14px;
          background: lightcoral;
        }
      }

      button {
        width: 100%;
        padding: 12px;
        margin: 4px 0;
        font-size: 16px;
        outline: none;
        border-radius: 8px;
        border: none;
        box-shadow: 0 0 3px #000;
        color: #fff;

        &.accept {
          background: rgb(157, 202, 42);
        }

        &.decline {
          background: rgb(197, 70, 104);
        }
      }
    }

    .betting {
      padding: 20px;

      h2 {
        font-size: 18px;
        text-align: center;
      }

      .slider {
        display: flex;

        input {
          flex: 1;
        }
      }

      .options {
        padding: 5px;
        background: $primary-orange;
        border-radius: 5px;
        margin: 3px 0;
      }
    }
  }
}
