<div class="message-board">
    <h3 class="message" *ngIf="(ui$ | async)?.idle">Please wait until the host starts the next challenge.</h3>
    <h3 class="message" *ngIf="(ui$ | async)?.startCountdown">Next challenge starts in: {{ countdownService.seconds }}s</h3>
    <h3 class="message" *ngIf="(ui$ | async)?.responseCountdown">Waiting for responses: {{ countdownService.seconds }}s</h3>
</div>

<app-feed *ngIf="view === 'FEED'"></app-feed>
<app-scoreboard *ngIf="view === 'SCOREBOARD'" [players]="players$ | async"></app-scoreboard>
<app-admin *ngIf="view === 'ADMIN'" [gameInfo]="gameInfo$ | async"></app-admin>
<app-main *ngIf="view === 'GAME'" [ui]="ui$ | async" [challenge]="challenge$ | async" [champions]="champions$ | async" [gameInfo]="gameInfo$ | async">
</app-main>

<div class="nav-tabs">
    <div class="tab" (click)="setActive('SCOREBOARD')">
        <i class="fas fa-list-ol"></i>
    </div>
    <div class="tab" (click)="setActive('GAME')">
        <i class="fas fa-gamepad"></i>
    </div>
    <div class="tab" (click)="setActive('FEED')">
        <i class="fas fa-comments"></i>
    </div>
    <div class="tab" (click)="setActive('ADMIN')" *ngIf="(gameInfo$ | async)?.isHost">
        <i class="fab fa-buysellads"></i>
    </div>
</div>

<app-modal *ngIf="showModal" [champions]="champions$ | async" [challenge]="challenge$ | async" [ui]="ui$ | async" [gameInfo]="gameInfo$ | async">
</app-modal>