.feed-wrapper {
  padding: 20px;

  h1 {
    margin: 20px 0 10px 0;
    text-align: center;
    color: white;
  }

  .item {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;

    .left {
      flex: 0 0 50px;
      text-align: center;
      background: rgb(255, 255, 255);

      i {
        font-size: 25px;
        margin-top: 10px;
        color: rgb(234, 125, 40);
      }
    }
  }

  .right {
    flex: 1 1 0;
    background: rgb(251, 240, 224);
    padding: 10px;

    p {
      margin: 0;

      &.when {
        text-align: right;
        font-style: italic;
      }
    }
  }
}
