<div class="game-wrapper">
  <div *ngIf="ui?.responsePhase">
    <div *ngIf="champions" class="champions">
      <div class="champion" *ngFor="let champion of champions; let i=index">
        <div class="response" *ngIf="champion.response !== null" [class.accepted]="champion.response" [class.declined]="!champion.response">
          <i class="fas fa-times" *ngIf="!champion.response"></i>
          <i class="fas fa-check" *ngIf="champion.response"></i>
        </div>
        <img src="../../../assets/avatar.png" height="100" width="100">
        <span>{{ champion.name }}</span>
      </div>
    </div>
    <div class="challenge" *ngIf="challenge">
      <h4>{{ challenge.title }}</h4>
      <p class="description">{{ challenge.description }}</p>
      <div class="points">
        <p>Win: {{ challenge.winScore }}</p>
        <p>Lose: {{ challenge.loseScore }}</p>
        <p>WO: {{ challenge.loseScore / 2 }}</p>
      </div>
    </div>
  </div>
</div>