.game-wrapper {
  padding: 20px;
  color: #fff;

  .message {
    color: #fff;
  }

  .prompt {
    button {
      width: 100%;
      padding: 20px;
      margin: 10px 0;
      font-size: 16px;

      &.accept {
        background: green;
      }

      &.decline {
        background: red;
      }
    }
  }
}
