@import '../../scss/variables';

.scoreboard-wrapper {
  padding: 50px 20px;

  h1 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
  }

  .scoreboard-table {
    .table-header,
    .table-row {
      display: flex;

      .col {
        &.th {
          font-weight: bold;
          color: $primary-orange;
          margin-bottom: 10px;
        }

        &.tr {
          padding: 10px 0;
          font-size: 15px;
          color: #fff;
        }
        &.pos {
          flex-basis: 25%;
        }

        &.name {
          flex-basis: 55%;
        }

        &.score {
          flex-basis: 20%;
          text-align: right;
        }
      }
    }
  }
}
